<div class="post">
  <div class="post-header">
    <h2> Edit Post </h2>
  </div>
  <input type="hidden" name="post-id" value="{{post.id}}">
  <div class = "post-body">
    <form class="form login-form">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-input" type="text" name="title-input" value="{{post.title}}">
      </div>
      <div class="form-group">
        <label for="password-login">Content</label>
        <input style="resize: none;" class="form-input" type="text" name="content-input" value="{{post.content}}"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="update" id="update-post-button">Update Post</button>
        <button class="btn btn-primary" type="delete" id="delete-post-button">Delete</button>
      </div>
    </form>
  </div>

<script src="/js/edit.js"></script>