
{{#each posts as |post|}}
  <div class="post admin-post">
    <div class="post-header">
      <span>
        <a href="/dashboard/edit/{{post.id}}">
          <h2 class="text-left" id="post-title">{{post.title}}</h2>
        </a>
      </span>
      <span>
      <p class="text-right" id="post-info">{{format_date post.date_created}}</p>
      </span>
    </div>
  </div>


{{/each}}
